.header{
    width: 100vw;
    height: 60px;
    background-color: #f7b83c;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px rgb(255, 255, 255);
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    // margin: auto 20%;
    .user{
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .brand{
        display: flex;
        justify-content: center;
        align-items: center;
        .brand__icon{
            width: 6%;
            margin-right: 5px;
            // color: rgb(49, 19, 19);
        }
    }
}
.user__name{
    margin: 0;
    font-weight: 400;
    // padding: 0;
}
.log__info{
    margin: 0;
    font-weight: 500;
    // padding: 0;
}