.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 70%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    line-height: 22px;
    transform: translate(-50%, -50%);
    position: fixed;
    top:50%;
    left: 50%;
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0px 5px 30px rgb(121, 121, 121);
    z-index: 5;
    .note-title{
        margin: 30px;
        text-align: start;
    }
    .note-description{
        width: 90%;
        margin: 5px 10px;
        padding: 5px 30px;
        text-align: justify;
        overflow-y: scroll;
    }
    .remove, .save{
        color:#07070836 ;
        font-size: 20px;
        position: absolute;
        top: 25px;
        right: 30px;
        display: none;
        &:hover{
            cursor: pointer;
        }
    }
    .save{
        display: block;
        color:#082d63 ;
        font-size: 40px;
        top:unset;
        bottom: -20px;
        // right: 50px;
    }
    &:hover{
        .remove{
            display: block;
        }
    }
}
.remove-content{
    // width: 70%;
    // height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
    // line-height: 22px;
    transform: translate(-50%, -50%);
    position: fixed;
    top:50%;
    left: 50%;
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0px 5px 30px rgb(121, 121, 121);
    z-index: 5;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        color: rgb(241, 22, 22);
        .warning-icon{
            font-size: 50px;
            margin-right: 10px;
        }
    }
    .cancel-btn{
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
        border: none;
        font-size: 18px;
        transition: all 0.3s ease;
        &:hover{
            cursor: pointer;
            color: rgb(28, 131, 2);
        }
    }
    .proceed-btn{
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 5px;
        margin-right: 10px;
        color: red;
        border: none;
        font-size: 18px;
        &:hover{
            cursor: pointer;
            
        }
    }
}
.dropback{
    position: fixed;
    background-color: rgba(91, 92, 90, 0.123);
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
@media (max-width: 1080px) {
    .content{
        width: 80%;
        .note-description{
            width: 90%;
        }
        .remove{
            display: block;
        }
    }
}
@media (max-width: 950px) {
    .content{
        .note-description{
            width: 85%;
        }
    }
}
@media (max-width: 680px) {
    .content{
        width: 90%;
        .note-description{
            width: 80%;
        }
    }
}
@media (max-width: 480px) {
    .content{
        width: 90%;
        .note-description{
            width: 80%;
        }
    }
}
@media (max-width: 395px) {
    .content{
        width: 90%;
        .note-description{
            width: 75%;
        }
    }
}