.note-container{
    min-width: 300px;
    // max-height: 400px;
    width: 400px;
    background-color: white;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease-in;
    &:hover{
        box-shadow: 0px 5px 30px rgb(190, 189, 189);
    }
    // overflow: scroll;
}
.note-title{
    margin: 20px;
    text-align: start;
}
.note-description{
    margin: 10px 20px;
    // overflow: scroll;
    text-align: justify;
}
.edit-btn, .delete-btn {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#082d63 ;
    font-size: 30px;
    position: absolute;
    bottom: -10px;
    right: 30px;
    &:hover{
        cursor: pointer;
    }
}
.edit-btn{
    right: 90px;
}